<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://meche.mit.edu/sites/default/files/styles/research_break/public/news_header/MeC%20SS%2014%20Cover%20Image_25.JPG?itok=lMnyjMZJ);">
  <div class="container">
    <h1>Edit your trip</h1>
  </div>
</div>


<div class="background_white p-3 text-center">
  <h2>What would you like to update ?</h2>
</div>

<div class="container trip-card mx-auto my-4">
    <%= simple_form_for [@user, @trip] do |f| %>

<div class="row">
    <div class="col-6">
      <%= f.input :destination %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :budget, :label => "€ budget/week" %>
    </div>
    <div class="col-6">
      <%= label_tag "Interests" %>
      <div class=" flex-container-2col-form">
      <%= f.association :interests, legend_tag: false, as: :check_boxes,  class: 'form-control flex-container-2col', wrapper: false %>
      </div>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Update", class: "btn btn-flat-review" %>
    </div>

  </div>
  <% end %>
</div>
