<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.giant-bicycles.com/b_white,c_crop,h_600,q_70,w_1920/jv39jkthrz5szrlk2jka/Escape_range_banner.jpg);">
  <div class="container">
    <h1>Edit your trip</h1>
  </div>
</div>

<div class="container text-center">
  <h2>What changes would you like to do ?</h2>
</div>

<div class="container">
  <%= simple_form_for [@user, @trip] do |f| %>
  <%= f.input :destination %>
  <%= f.association :interests, as: :check_boxes, class: 'form-control' %> <!-- multiple: true, size: 4 -->
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :budget, :label => "budget/week" %>
  <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>
