<div class="banner height220px padding50" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-minimalist-flat-travel-banner-background-image_223018.jpg);">
  <div class="container">
    <h1>Find your next vacation !</h1>
     <%= form_tag trips_path, method: :get do %>
      <div id= "search-data" class="form-search search-data" data-skills="<%= @skills.to_json %>">

      <%= text_field_tag :destination, params[:destination], placeholder: "Search for your destination here", autocomplete: :on, class: "form-control search-input", id:"search-bar"%>
      <%#text_field_tag :budget, params[:budget], placeholder: "Give your budget in €/week here", autocomplete: :on, class: "form-control search-input"%>

      <%= date_select "start date", :start_date %>
      <%= date_select "end date", :end_date %>

      <%= submit_tag "Search", name: nil %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  </div>
  <div>
    <h4>Add your trip to the list</h4>
    <div id="but">
      <%= link_to "Add a new trip !", new_trip_path, class: "btn-round-corners"%>
    </div>
  </div>
</div>


<div id="map"
     style="width: 80%; height: 450px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<div class="container">
  <h1>All the created trips</h1>
  <br>
  <div class="flex-container">

    <% @trips.order("updated_at desc").each do |trip| %>
      <div class="margin5px">
        <%= image_tag("vintage-world.jpg", size: "242x242", alt: "trip image")%>

        <h3><%= link_to trip.destination, trip_path(trip) %></h3>
        <h3><%= trip.start_date %></h3>
        <h3><%= trip.end_date %></h3>
        <h3><%= trip.budget %> €/day</h3>
        <p><%= trip.interest.name %></p>

        <%= link_to"See more", trip_path(trip) %>
      </div>
    <% end %>
  </div>
</div>
