<div class="trip-banner pt-4 pb-1" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://nas-national-prod.s3.amazonaws.com/styles/hero_mobile/s3/_web_nativeplantwalk_camillacerea_-1-of-1.jpg?itok=zRjyKT9q)">
  <div class="form-container mx-auto">
    <h1>Find your next vacation !</h1>
    <%= form_tag trips_path(anchor: "anchor-trip"), method: :get, class: "trip-form p-3 mb-1" do %>
      <%= text_field_tag :destination, nil, autocomplete: :on, placeholder: "Search for your location", class: 'form-control search-input', id:'search-bar'%>
      <br>
      <% budgets = [["0-300 €/week", "0-300"], ["300-600 €/week", "300-600"], ["600 - 1000 €/week", "600-1000"], ["> 1000 €/week", ">=1000"] ] %>
      <br>
      <%= select_tag :budget, options_for_select(budgets), prompt: "Select your budget", class: "form-control mb-2" %>
      <div class="form-group">
        <h5><%=label_tag 'Starting date of your next trip:' %></h5>
        <%= text_field_tag 'start date', nil, class: "datepicker" %>
      </div>
      <div class="form-group">
      <h5><%=label_tag 'Ending date of your next trip:' %></h5>
      <%= text_field_tag 'end date', nil, class: "datepicker" %>
      </div>
      <div class="check-box-wrapper">
      <% interests = ["Activism","Adventure", "Arts", "Business Trip", "Climate protection", "Concert", "Design", "Extreme Sports", "Food Vlogging", "Green Living", "Hiking", "Lifestyle", "Local food", "Museums & History", "Natural Wonders", "Partying", "Photography", "Safari", "Sailing", "Vacations"] %>
      <% Interest.all.map(&:name).each do |interest| %>
      <div class="check-box-trip">
      <%= check_box_tag "interests[]", interest %>
      <%=label_tag interest %>
      </div>
      <% end %>
      </div>
      <%= submit_tag 'Search', name: nil, class: "btn btn-flat-review" %>
    <% end %>
  </div>
</div>



<div class="background_white my-3 py-2">
  <div style="
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;">
    <h2>Add your trip to the list</h2>
    <%= link_to "New trip !", new_trip_path, class: "btn btn-flat", id: "anchor-trip"%>
  </div>
</div>


<div class="trips-map background_white" >
<div>
  <% if @query && @trips.size == 0  %>
    <h2 class="pl-3 text-center mt-3"> Sorry, there are no trips found ... Please, create your own! </h2>
    <h3 class="pl-3 text-center mt-2">Add your trip to the list</h3>
    <div class="text-center mt-3">
    <%= link_to "New trip !", new_trip_path, class: "btn btn-flat pl-3 text-center"%>
    </div>
  <% else %>
    <h2 class="pl-3 text-center" >All the created trips</h2>
  <% end %>


  <div class="flex-container">

    <% @trips.sort_by(&:updated_at).each do |trip| %>


        <div class="trip-card height315px">
          <div>
            <% if trip.photo.attached? %>
                <%= cl_image_tag trip.photo.key, crop: :fill %>
            <% else %>
                <%= image_tag "WorldLogo.png"%>
            <% end %>
          </div>
          <div class="trip-details">
            <div class="trip-destination">
              <h3><%= link_to trip.destination, trip_path(trip) %></h3>
            </div>
            <div class="trip-schedule">
              <h4><%= trip.start_date %></h4>
              <h4><%= trip.end_date %></h4>
            </div>
            <div class="trip-budget">
              <h4><%= trip.budget %> €/week</h4>
            </div>
            <div class="trip-bottom">
              <div class="trip-interests">
                <ul> <% trip.interests.first(2).each do |interest| %>
                  <li><%= interest.name %></li>
                <% end %>
                <% if trip.interests.size > 2 %>
                  <li> ...</li>
                <% end %>
                </ul>
              </div>
              <div class="sticky-bottom">
                <%= link_to"See more", trip_path(trip) %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>

  </div>

  <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

