

<div class="banner height160px padding50" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-minimalist-flat-travel-banner-background-image_223018.jpg);">
  <div class="container">
    <h1 class="font_white">Create a new trip</h1>
  </div>
</div>

<div class="container text-center">
  <h2>Please tell us more about your trip</h2>
</div>

<div class="container">
  <%= simple_form_for [@user, @trip] do |f| %>
  <%= f.input :destination %>
  <%= f.association :interests, as: :check_boxes, item_wrapper_class: "inline_block", class: 'form-control' %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :budget, :label => "budget/week" %>
  <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>



