<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://upload.wikimedia.org/wikipedia/commons/b/b3/Hiking_the_rocks_below_the_Stoke%27s_Range_%28banner%29.jpg);">
  <div class="container">
    <h1 class="font_white" >Create a new trip !</h1>
  </div>
</div>


<div class="background_white p-3 text-center">
  <h2>Tell us more about your trip</h2>
</div>

<div class="container trip-card mx-5 my-4">
    <%= simple_form_for [@user, @trip] do |f| %>
<div class="row">
    <div class="col-6">
      <%= f.input :destination %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="col-6">
      <%= label_tag "Interests" %>
      <div class=" flex-container-2col-form">
      <%= f.association :interests, legend_tag: false, as: :check_boxes,  class: 'form-control flex-container-2col', wrapper: false %>
      </div>
      <%= f.input :budget, :label => "€ budget/week" %>
      <%= f.submit "Create", class: "btn btn-flat-review text-center" %>
    </div>
  </div>
  <% end %>

</div>


