<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://daily.jstor.org/wp-content/uploads/2019/08/the_new_nomads_of_vanlife_reflect_an_enduring_divide_1050x700.jpg);">
  <div class="container">
    <h1>Infos on the trip you've selected</h1>
  </div>
</div>


<div class="trips-map trip-card mx-5 my-4">

  <div class="flex-container-2col height200px">
    <div class="m-1 trip-show" >
      <% if @trip.photo.attached? %>
          <%= cl_image_tag @trip.photo.key, crop: :fill %>
      <% else %>
          <%= image_tag "WorldLogo.png", height: 250, width: 250 %>
      <% end %>
    </div>
    <div id="map" class="m-1"
       style="width: 100%; height: 300px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="container-infos">
      <p class="mt-3">
        <% unless @trip.user == current_user %>
          <%= link_to "Created by #{@trip.user.nickname}", profile_path(@trip.user.profile.id)%>
        <% end %>
      </p>
      <% if policy(@trip).edit? %>
        <%= link_to "", edit_trip_path(@trip), class: "fas fa-edit" %>
      <% end %>

      <% if policy(@trip).destroy? %>
        <%= link_to "", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %>
      <% end %>

    <div class="container-title">
      <h2><%= @trip.destination.upcase %></h2>
    </div>
      <h4>From the <strong><%= @trip.start_date %></strong></h4>
      <h4>To the <strong><%= @trip.end_date %></strong></h4>
      <br>
      <h4><strong>Budget/week</strong></h4>
      <p><%= @trip.budget %> €/week</p>
      <h4><strong>Interests</strong></h4>
      <ul> <% @trip.interests.each do |interest| %></ul>
        <li><%= interest.name %></li>
      <% end %>
  </div>

  <div class=" text-center">
    <% if @trip_interaction.empty? && @trip.user != current_user%>
      <%= simple_form_for [@trip, @interaction] do |f| %>
        <%= f.submit "Start chatting", class: "text-center btn btn-flat" %>
      <% end %>
    <% elsif @trip.user == current_user %>
      <% @trip.interactions.each do |interaction| %>
        <div class="text-center btn btn-flat">
          <%= link_to "Your conversation with #{interaction.user.nickname}", trip_interaction_path(@trip, interaction)%>
        </div>
      <% end %>
    <% else %>

    <%= link_to trip_interaction_path(@trip, @trip_interaction[0]) do %>
        <div class="text-center btn btn-flat">
          Join the chat
        </div>
      <% end %>
    <% end %>
  </div>
</div>
