<div class="banner" style="background: #167ffb;
    color: white;
    border-radius: 5px;
    text-align: center;">
    <h1>Infos on selected trip</h1>
</div>


<div class="container grid-cards" style="border: 1px solid;
    border-radius: 5px;">
  <div class="container-title">
    <h1><%= @trip.destination.upcase %></h1>
  </div>

  <div id="map"
     style="width: 40%; height: 150px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div>

  </div>

  <div class="container-infos">
      <h4><strong>Start date</strong></h4>
      <p><%= @trip.start_date %></p>
      <h4><strong>End date</strong></h4>
      <p><%= @trip.end_date %></p>
      <h4><strong>Budget/week</strong></h4>
      <p><%= @trip.budget %> €/week</p>
      <h4><strong>Interests</strong></h4>
      <ul> <% @trip.interests.each do |interest| %></ul>
        <li><%= interest.name %></li>
      <% end %>
      <p>
        <% unless @trip.user == current_user %>
          <%= link_to "Created by #{@trip.user.nickname}", profile_path(@trip.user.profile.id)%>
        <% end %>
      </p>
  </div>
</div>

<div class="container-infos text-center">
  <% if policy(@trip).edit? %>
    <%= link_to "Update my trip", edit_trip_path(@trip), class: "btn-round-corners" %>
  <% end %>

  <% if policy(@trip).destroy? %>
    <%= link_to "Delete my trip", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
  <% end %>

  <% if @trip_interaction.empty? && @trip.user != current_user%>
    <%= simple_form_for [@trip, @interaction] do |f| %>
      <%= f.submit "Start interaction", class: "btn btn-primary" %>
    <% end %>
  <% elsif @trip.user == current_user %>
    <% @trip.interactions.each do |interaction| %>
      <%= link_to "Your trip_interaction with #{interaction.user.nickname}", trip_interaction_path(@trip, interaction), class: "btn btn-primary"%>
    <% end %>
  <% else %>
    <%= link_to "Join trip_interaction", trip_interaction_path(@trip, @trip_interaction[0]), class: "btn btn-primary"%>
  <% end %>
</div>
