<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://image.redbull.com/rbcom/052/2018-04-18/3defc76b-795c-4cfa-a005-c2fabd43f6fb/0012/0/130/0/2008/2816/1500/1/adventure-travel-cliff.jpg);">
  <div class="container">
    <h1> Create your profile</h1>
  </div>

  <div class="container">

    <%= simple_form_for (@profile) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.label :gender %>
    <%= f.select :gender, ["female", "male", "other"], include_blank: 'Select a gender', class: 'form-control' %>
    <%= f.input :age %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "submit", class: "btn btn-flat-review" %>
    <% end %>
  </div>
  <br>
</div>

