<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://explorerabun.com/wp-content/uploads/2015/02/banner-adventure.png);">
  <div class="container">
    <h1>Your profile</h1>
  </div>
</div>

  <br>

  <div class="container profile-container">
    <div class="profile-card">
     <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, height: 220, width: 220, class: "avatar-profile" %>
      <% else %>
      <%= image_tag "profile.png" %>
      <% end %>
    </div>

    <div class="profile-card-content">
      <h2><%= @profile.first_name %> <%= @profile.last_name %></h2>
     <h5 class="profile-content-2">Nickname:</h5><p class="profile-content-2"><%= @profile.user.nickname %></p>
     <br>
     <h5 class="profile-content-3">Age :</h5><p class="profile-content-3"><%= @profile.age %></p>
     <br>
     <h5 class="profile-content-4">From:</h5><p class="profile-content-4"><%= @profile.location %></p>
      <% if @profile.gender == "female" %>
      <h5>Gender:<i class="fas fa-female"></i></h5>
      <% elsif @profile.gender == "male" %>
      <h5>Gender:<i class="fas fa-male"></i></h5>
      <% else %>
     <h5 class="profile-content-5">Gender: </h5><p class="profile-content-5">other</p>
      <% end %>
      <h5>Description:</h5>
      <p><%= @profile.description %></p>

      <% if policy(@profile).edit? %>
        <%= link_to "", edit_profile_path(@profile), class: "fas fa-edit" %>
      <% end %>

      <% if policy(@profile).destroy? %>
        <%= link_to "", profile_path, method: :delete, data: {confirm: "Are you sure you wish to delete your profile ?"}, class: "fas fa-trash-alt" %>
      <% end %>
    </div>
  </div>

<br>

<div class="container">
    <h2>Reviews</h2>

    <% unless @profile.user == current_user %>
      <h5>Add a review</h5>

      <%= simple_form_for [@profile, @review] do |f| %>
        <h4><%= f.input :content %></h4>
        <h4><%= f.input :rating, collection: 0..5 %></h4>
        <%= f.submit "submit", class: "btn btn-flat-review" %>
      <% end %>
    <% end %>


    <ul id="review">
    <% star = " â­ " %>
    <% @profile.reviews.each do |review| %>
    <div class="review-content-card">
      <li><h4><%= "Review by #{review.user.nickname} : #{star * review.rating}"%></h4>
        <p> <%=  "#{review.content}"%></p>

        <% if policy(review).edit? %>
        <%= link_to "", edit_review_path( review), class: "fas fa-edit" %>
        <% end %>
        <% if policy(review).destroy? %>
        <%= link_to "", review_path(review), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %>
        <% end %>
      </li>
    </div>
      <% end %>
</div>

<br>
