

<h1>Your profile</h1>

<%= cl_image_tag @profile.photo.key, height: 150, width: 150, crop: :thumb %>

<h2><%= @profile.first_name %> - <%= @profile.last_name %></h2>
<h3>Age : <%= @profile.age %></h3>
<h3>From <%= @profile.location %></h3>
