<h1>Discuss with your travel buddy</h1>

<div class="container">


  <h1>Chat with your travel buddy</h1>

  <% if current_user == @interaction.user %>
    <%= link_to "You're chatting with #{@interaction.trip.user.nickname}", profile_path(@interaction.trip.user.profile.id)%>
  <% else %>
    <%= link_to "You're chatting with #{@interaction.user.nickname}", profile_path(@interaction.user.profile.id)%>
  <% end %>

  <div id='messages' data-interaction-id="<%= @interaction.id %>">
    <% @interaction.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>


  <%= simple_form_for [@interaction, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message" %>
  <% end %>


<div>
  <% if current_user == @interaction.trip.user %>
    <% if @interaction.status == "pending" %>
      <%= simple_form_for @interaction, :url => interaction_path, :method => :patch do |f| %>
        <%= f.select :status, ["Validated", "Denied"], include_blank: 'Validate or deny the request', class: 'form-control' %>
        <%= f.submit "Answer to the buddy", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= @interaction.status %>
    <% end %>


  <% else %>
    <% if @interaction.status == "active" %>
      <%= simple_form_for @interaction, :url => interaction_path, :method => :patch do |f| %>
        <%= f.select :status, ["asking for validation..."], include_blank: 'Select your status', class: 'form-control' %>
        <%= f.submit "Ask for validation", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= @interaction.status %>
    <% end %>
  <% end %>
</div>


  <div class="container-infos text-center">
    <% if policy(@interaction).destroy? %>
      <%= link_to "Abandon the trip", interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
    <% end %>
  </div>
</div>

