<h1>Discuss with your travel buddy</h1>

<div class="container">


  <h1>Chat with your travel buddy</h1>

  <div id="messages" data-interaction-id="<%= @interaction.id %>">
    <% @interaction.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>


  <%= simple_form_for [@interaction, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message" %>
  <% end %>



  <div class="container-infos text-center">
    <% if policy(@interaction).create? %>
      <%=link_to "Confirm your participation to the trip", trip_interaction_path(@interaction), data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
    <% end %>
  </div>

  <div class="container-infos text-center">
    <% if policy(@interaction).destroy? %>
      <%= link_to "Abandon the trip", trip_interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
    <% end %>
  </div>
</div>
