<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dfp2hfrf3mn0u.cloudfront.net/cre/creston-ic-v3_1600x685_home-main-banner_2019_SYNCROS_1616656_jpg_original_1.jpg);">
    <h1>Discuss with your travel buddy</h1>
</div>
<div class="container"></div>
<h1>Chat with your travel buddy</h1>
<div id="messages" data-interaction-id="<%= @interaction.id %>"></div>
  <% @interaction.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
  <%= simple_form_for [@interaction, @message], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message" %>
  <% end %>
</div>



<div>
  <% if current_user == @interaction.trip.user %>
    <% if @interaction.status == "pending" %>
      <%= simple_form_for @interaction, :url => interaction_path, :method => :patch do |f| %>
      <%= f.select :status, ["Validated", "Denied"], include_blank: 'Validate or deny the request', class: 'form-control' %>
      <%= f.submit "Answer to the buddy", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  <% else %>
    <% if @interaction.status == "active" %>
      <%= simple_form_for @interaction, :url => interaction_path, :method => :patch do |f| %>
        <%= f.select :status, ["asking for validation..."], include_blank: 'Select your status', class: 'form-control' %>
        <%= f.submit "Ask for validation", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container-infos text-center">
  <% if policy(@interaction).destroy? %>
    <%= link_to "Abandon the trip", trip_interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
  <% end %>
</div>

