<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.squarespace-cdn.com/content/v1/54611b5be4b0b862de5ee550/1512054864812-11CEZK87IC6JVZCNY7AZ/ke17ZwdGBToddI8pDm48kCjOTWjA3bFR4FuIWmohiPUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcfKMZKyZMwQikGTdMFgsUh7IlmDMPfuq0zvntNEzrjTJg2dLV8np1-NrGJPalO4Hy/road+and+highways+banner.png?format=2500w);">
  <div class="container">
  <h1>Let's have a chat</h1>
  </div>
</div>

<div class="message-container">


  <div class= "message-title">
    <h2> Chat with your travel buddy to go to <span class="chatting-link"> <%= "#{@interaction.trip.destination}" %> </span> ! </h2>

  </div>
  <div class="background_white-message">
    <div class="container-message-top text-center mt-3">

      <% if current_user == @interaction.trip.user %>
        <% if @interaction.status == "waiting" %>
          <%= simple_form_for @interaction, :url => interaction_path, :method => :patch, html: { class: "form-inline" } do |f| %>
            <%= f.input :status, collection: ["Validated", "Denied"], label: false, include_blank: 'Validate or deny the request', input_html: { class: 'form-control' } %>
            <%= f.submit "Answer to the buddy", class: "btn btn-flat-answer" %>
          <% end %>
        <% elsif @interaction.status == "accepted" %>
          <div class="highlight text-center">
            Yeah, let's start organizing the trip of your dreams!
          </div>
        <% elsif @interaction.status == "rejected" %>
          <div class="highlight text-center">
            Sorry... better luck next time!
          </div>
        <% end %>

      <% else %>
        <% if @interaction.status == "active" %>
          <%= simple_form_for @interaction, :url => interaction_path, :method => :patch, html: { class: "form-inline" } do |f| %>
            <%= f.input :status, collection: ["Applying for this trip..."], label: false, include_blank: 'Start your adventure', input_html: { class: 'form-control' }  %>
            <%= f.submit "Apply for this trip", class: "btn btn-flat-answer" %>
          <% end %>
        <% elsif @interaction.status == "waiting" %>
          <div class="highlight text-center">
            You're waiting for the answer... suspense!
          </div>
        <% elsif @interaction.status == "accepted" %>
          <div class="highlight text-center">
            Yeah, let's start organising the trip of your dreams!
          </div>
        <% elsif @interaction.status == "rejected" %>
          <div class="highlight text-center">
            Sorry... better luck next time!
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="container-message-top text-center mt-3">
      <% if policy(@interaction).destroy? %>
        <%= link_to "Back to the trip", trip_path(@interaction.trip), class: "btn btn-flat-return-trip text-center" %>

        <%= link_to "Abandon the trip", interaction_path(@interaction), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-flat-abandon text-center" %>
      <% else %>
        <%= link_to "Show my trip", trip_path(@interaction.trip), class: "btn btn-flat-return-trip text-center" %>
      <% end %>
    </div>
  </div>


  <div class= "message-card">

    <div class="chatting-card">

      <h4 class="chatting-with">
        <% if current_user == @interaction.user %>
          You're chatting with <%= link_to " #{@interaction.trip.user.nickname}", profile_path(@interaction.trip.user.profile.id), class: "chatting-link"%>
        <% else %>
          You're chatting with <%= link_to " #{@interaction.user.nickname}", profile_path(@interaction.user.profile.id), class: "chatting-link"%>
        <% end %>
      </h4>

    </div>
    <div id='messages' >
      <div id="chat" data-interaction-id="<%= @interaction.id %>">
        <% @interaction.messages.each do |message| %>
          <% side = message.user == current_user ? "right" : "left" %>

            <div class="message-<%= side %>">

              <i class="author-infos-<%= side %>">
              <small><%= message.created_at.strftime("%l:%M%p") %></small>
              </i>
              <div class="avatar-message-<%= side %>">
                <%= cl_image_tag message.user.profile.photo.key, class: "avatar-message", :transformation=>[ {:width=>30, :height=>30, :crop=>"thumb"}, {:radius=>50} ], id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              </div>
                <p class="message-content" id="message-<%= message.id %>">
                  <%= message.content %>
                </p>
            </div>
        <% end %>
      </div>
      <div class="typing-message">
        <%= simple_form_for [@interaction, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Write your message..." %>
        <% end %>
      </div>
    </div>
  </div>
</div>

