<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "Logo-Title.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <div class="dropdown">
            <div class= "dropbtn2"> Trips </div>
            <div class="dropdown-content2">
              <i class="fas fa-plus-circle"></i>
              <%= link_to "Create a trip", "/trips/new", class: "nav-link" %>
              <i class="fas fa-search"></i>
              <%= link_to "Search a trip", "/trips", class: "nav-link" %>
              <i class="fas fa-campground"></i>
              <%= link_to "All trips", "/trips", class: "nav-link" %>
            </div>
          </div>

        </li>

        <li class="nav-item dropdown" id="notifications" data-user-id= "<%= current_user.id %>" >

          <div class="dropdown">
            <button class="dropbtn">
               <i class="fas fa-bell"></i>
              <span id="notification-counter">
                <%= @notifications.count %>
              </span>
            </button>
            <div class="dropdown-content">
              <p>
                <% @notifications.each do |notification|%>
                  <%= render partial: "shared/notification_dropdown", locals: { notification: notification } %>
                <% end %>
              </p>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <span class="nav-link hello">
          <i>Hello <%= current_user.nickname %></i>
          </span>
        </li>

        <li class="nav-item dropdown">
            <% if current_user.profile %>
              <%= cl_image_tag current_user.profile.photo.key, class: " avatar dropdown-toggle", :transformation=>[ {:width=>30, :height=>30}, {:radius=>50} ], id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "Profile_user.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-content">
              <i class="fas fa-tv"></i>
              <%= link_to "My Dashboard", "/dashboard", class: "nav-link" %>

              <i class="fas fa-user-circle"></i>
              <% if current_user.profile %>
                  <%= link_to "My profile", profile_path(current_user.profile), class: "nav-link" %>
              <% else %>
                  <%= link_to "Create my profile", "/profiles/new", class: "nav-link" %>
              <% end %>
              <i class="fas fa-sign-out-alt"></i>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
