<div>
    <h1>Your trips</h1>
</div>

<div>
  <h3>Your future trips</h3>
  <br>
</div>

<div>

  <div>

    <% @future_trips.each do |future_trip| %>

      <div>
        <%= image_tag("vintage-world.jpg", size: "242x242", alt: "trip image")%>
        <p> <em>
        <%= future_trip.start_date %>
        <%= '-' %>
        <%= future_trip.end_date %>
        </em></p>


        <h4><%= link_to future_trip.destination, trip_path(future_trip) %></h4>

        <% future_trip.interactions.each do |interaction| %>
          <% if interaction.user == current_user && interaction.status != "active"%>
            <div>
              <h4><%= link_to interaction.status, trip_interaction_path(interaction.trip_id, interaction) %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div>
  <h3>Your previous trips</h3>
  <br>
</div>

<div>
  <div>
    <% @past_trips.each do |past_trip| %>

      <div>
        <%= image_tag("vintage-world.jpg", size: "242x242", alt: "trip image")%>
        <p> <em>
        <%= past_trip.start_date %>
        <%= '-' %>
        <%= past_trip.end_date %>
        </em></p>


        <h4><%= link_to past_trip.destination, trip_path(past_trip) %></h4>

      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your own trips</h3>
  <br>

  <div>

    <div>


      <% @my_trips.each do |trip| %>


        <div>
          <%= image_tag("vintage-world.jpg", size: "242x242", alt: "trip image")%>
          <h4><%= link_to trip.destination, trip_path(trip) %></h4>
          <h4><%= trip.start_date %></h4>
          <h4><%= trip.end_date %></h4>
          <%= link_to "Edit your trip", edit_trip_path(trip), class: "btn-round-corners" %>
          <%= link_to "Delete this trip", trip_path(trip), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
        </div>


        <% trip.interactions.each do |interaction| %>
          <% if interaction.status == "pending" || interaction.status == "accepted" %>
            <div>
              <h4><%= link_to interaction.status, trip_interaction_path(interaction.trip_id, interaction) %></h4>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
