<div>
    <h1>Your trips</h1>
</div>

<div>
  <h3>Your future trips</h3>
  <br>
</div>

<div>

  <div>

    <% @future_trips.each do |future_trip| %>

      <div>
        <p> <em>
        <%= future_trip.start_date %>
        <%= '-' %>
        <%= future_trip.end_date %>
        </em></p>

        <h4><%= link_to future_trip.destination, trip_path(future_trip) %></h4>

          <%= link_to "Edit your trip", edit_trip_path(future_trip), class: "btn-round-corners" %>
          <%= link_to "Delete this trip", dashboard_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your previous trips</h3>
  <br>
</div>

<div>
  <div>
    <% @past_trips.each do |past_trip| %>

      <div>
        <p> <em>
        <%= past_trip.start_date %>
        <%= '-' %>
        <%= past_trip.end_date %>
        </em></p>


        <h4><%= link_to past_trip.destination, trip_path(trip) %></h4>
          <%= link_to "Edit your trip", edit_trip_path(past_trip), class: "btn-round-corners" %>
          <%= link_to "Delete this trip", dashboard_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your own trips</h3>
  <br>
</div>

<div>

  <div>

    <% @current_user.trips.each do |trip| %>

      <div>

        <h4><%= link_to trip.destination, trip_path(trip) %></h4>
          <%= link_to "Edit your trip", edit_trip_path(trip), class: "btn-round-corners" %>
          <%= link_to "Delete this trip", dashboard_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h3>Your interactions</h3>
  <br>
</div>

<div>

  <div>

    <% @current_user.trips.each do |trip| %>

      <div>
        <h4><%= link_to trip.destination, trip_path(trip) %></h4>
        <h4><%= trip.start_date %></h4>
        <h4><%= trip.end_date %></h4>
        <p><%= trip.interest.name %></p>
      </div>


      <% @current_user.interactions.each do |interaction| %>

        <div>
          <h4><%= link_to interaction.status, trip_interaction_path(interaction.trip_id, interaction) %></h4>
            <%= link_to "Abandon the trip", dashboard_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
