<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://upload.wikimedia.org/wikipedia/commons/4/42/South_East_England_banner_Sussex_forest.jpg);">
  <div class="container">
    <h1>Your trips</h1>
  </div>
</div>

<div class="trips-map background_white m-3 p-3">
  <div>
    <h3 class="pl-3 text-center">You'll be taking part in these upcoming trips</h3>
    <div>
      <div class="flex-container">
        <% @future_trips.each do |future_trip| %>
          <div class="trip-card">
            <% if future_trip.photo.attached? %>
          <%= cl_image_tag future_trip.photo.key, height: 150, width: 150%>
          <% else %>
          <%= image_tag "WorldLogo.png", height: 150, width: 150 %>
          <% end %>
          <div class="trip-details">
            <p>
              <%= future_trip.start_date %>
              <%= '-' %>
              <%= future_trip.end_date %>
            </p>
            <h3><%= link_to future_trip.destination, trip_path(future_trip) %></h3>

              <% future_trip.interactions.each do |interaction| %>
                <% if interaction.user == current_user && interaction.status != "active"%>
                  <div class="sticky-bottom">
                    <h4><strong>You are </strong><span class=""><%= link_to interaction.status, trip_interaction_path(interaction.trip_id, interaction) %></span></h4>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div>
      <h3 class="pl-3 text-center">You were there ! </h3>
      <div class="flex-container">
        <% @past_trips.each do |past_trip| %>

        <div class="trip-card">
          <% if past_trip.photo.attached? %>

          <%= cl_image_tag past_trip.photo.key, height: 150, width: 150%>

          <% else %>
          <%= image_tag "WorldLogo.png", height: 150, width: 150 %>
          <% end %>
          <div class="trip-details">
            <p>
              <%= past_trip.start_date %>
              <%= '-' %>
              <%= past_trip.end_date %>
            </p>


            <h3><%= link_to past_trip.destination, trip_path(past_trip) %></h3>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 class="pl-3 text-center">The trips you have created</h3>
    <div class="flex-container-2col">
      <% @my_trips.each do |trip| %>
      <div class="trip-card">
        <% if trip.photo.attached? %>
        <%= cl_image_tag trip.photo.key, height: 150, width: 150%>
        <% else %>
        <%= image_tag "WorldLogo.png", height: 150, width: 150 %>
        <% end %>
        <div class="trip-details">
          <p>
            <%= trip.start_date %>
            <%= '-' %>
            <%= trip.end_date %>
          </p>
          <h3><%= link_to trip.destination, trip_path(trip) %></h3>
          <% trip.interactions.each do |interaction| %>
          <% if interaction.status == "waiting" || interaction.status == "accepted" %>
          <div>
            <h4>Buddy : <%= link_to interaction.status, trip_interaction_path(interaction.trip_id, interaction) %></h4>
          </div>
          <% end %>
          <% end %>
          <span>
            <%= link_to "", edit_trip_path(trip), class: "fas fa-edit" %>
            <%= link_to "", trip_path(trip), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "fas fa-trash-alt" %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
