<div class="banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.squarespace-cdn.com/content/v1/54611b5be4b0b862de5ee550/1512054864812-11CEZK87IC6JVZCNY7AZ/ke17ZwdGBToddI8pDm48kCjOTWjA3bFR4FuIWmohiPUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcfKMZKyZMwQikGTdMFgsUh7IlmDMPfuq0zvntNEzrjTJg2dLV8np1-NrGJPalO4Hy/road+and+highways+banner.png?format=2500w);">
  <div class="container">
    <h1 class="font_white">Welcome to We PlanIt !!</h1>
  </div>
</div>

<% if user_signed_in? && !current_user.profile %>
<div class="background_white m-3 p-3">
  <h2 class="text-center">Create your profile</h2>
  <div class="btn-container">
    <div class="text-center btn btn-flat">
      <%= link_to "Your profile", new_profile_path%>
    </div>
  </div>
</div>
<% end %>



<div class="background_white m-3 p-3">
  <div class="container text-center mt-3">
    <div class="btn btn-flat ">
      <%= link_to "Add a new trip !", new_trip_path, class: "btn-round-corners"%>
    </div>
    <div class="btn btn-flat text-center">
      <%= link_to "Search for a trip !", trips_path, class: "btn-round-corners"%>
    </div>
    <div class="btn btn-flat text-center">
      <%= link_to "See your dashboard !",  "/dashboard", class: "btn-round-corners"%>
    </div>
  </div>
</div>

<div class="background_white m-3 p-3">
  <h2 class="text-center">How to find your buddy</h2>
  <div class="cards text-center mt-4">
    <div class="card_home ">
    <h4>Create your profile & trip</h4>
      <%= image_tag "Homepg_computer", class: "img_h150px"%>
    </div>
    <div class=" card_home ">
      <h4>Look for a travel friend</h4>
      <%= image_tag "Homepg_binoculars", class: "img_h150px"%>
    </div>
    <div class="card_home ">
      <h4>Start planning together</h4>
      <%= image_tag "Homepg_planning", class: "img_h150px"%>
    </div>
    <div class="card_home ">
      <h4>Enjoy a great vacation</h4>
      <%= image_tag "Homepg_friends", class: "img_h150px"%>
    </div>
  </div>
</div>



