<div class="home-banner padding70" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mvgtraveltours.com/wp-content/uploads/2016/09/Sunset-Banner.jpg);">
  <div class="container text-right">
    <h1>Welcome to <span class="fontred">We PlanIt</span> !!</h1>
  </div>
</div>

<% if user_signed_in? && !current_user.profile %>
<div class="background_white m-3 p-3">
  <h2 class="text-center">Create your profile</h2>
  <div class="btn-container">
    <div class="text-center btn btn-flat">
      <%= link_to "Your profile", new_profile_path%>
    </div>
  </div>
</div>
<% end %>

<div class="container mt-3">
  <%= form_tag trips_path, method: :get, autocomplete: :on do %>
  <%= text_field_tag :destination,
    params[:destination],
    class: "form-control", id: "search-bar",
    placeholder: "Find for your dream destination here"
  %>
</div>
<div class="container text-center mt-3">
    <%= submit_tag "Search destination", class: "btn btn-flat-review" %>
    <% end %>
</div>

<% if @query && @trips.size == 0  %>
<h3> Sorry, there are no trips found ... Please, create your own! </h3>
<% end %>

<div class="background_white m-3 p-3">
  <div class="container text-center mt-3">
    <div class="btn btn-flat ">
      <%= link_to "Add a new trip !", new_trip_path, class: "btn-round-corners"%>
    </div>
    <div class="btn btn-flat text-center">
      <%= link_to "Search for a trip !", trips_path, class: "btn-round-corners"%>
    </div>

  </div>
</div>

<div class="background_white m-3 p-3">
  <h2 class="text-center">How to find your buddy</h2>
  <div class="cards text-center m-5">
    <div class="card_home ">
    <h4>Create your profile & trip</h4>
      <%= image_tag "Homepg_computer", class: "img_h150px"%>
    </div>
    <div class=" card_home ">
      <h4>Look for a travel friend</h4>
      <%= image_tag "Homepg_binoculars", class: "img_h150px"%>
    </div>
    <div class="card_home ">
      <h4>Start planning together</h4>
      <%= image_tag "Homepg_planning", class: "img_h150px"%>
    </div>
    <div class="card_home ">
      <h4>Enjoy a great vacation</h4>
      <%= image_tag "Homepg_friends", class: "img_h150px"%>
    </div>
  </div>
</div>

<div class="background_white m-3 p-3">
  <h2 class="text-center">We believe ...</h2>
  <div class="flex-container-2col text-center m-3 center-horiz">
  <div class="m-3 text-right">
    <h3>Mother Earth is beautiful</h3>
    <p>And full of places to discover, of people to connect with <br> and of memories to create.</p>
  </div>
  <div class="m-1">
    <%= image_tag "World", class: "img_h150px"%>
  </div>
  <div class="m-1">
    <%= image_tag "Nature", class: "img_h150px"%>
  </div>
  <div class="m-1 text-left">
    <h3>We have to seize the day</h3>
    <p>And take the time to make our dreams come true.
      <br>
    To us, this means meeting our need of adventure and discovery.</p>
  </div>
  <div class="m-1 text-right">
    <h3>We are social beings</h3>
    <p>And we find happiness in meeting people<br> from different cultures and places.</p>
  </div>
  <div class="m-1">
    <%= image_tag "Friends", class: "img_h150px"%>
  </div>
  <div class="m-1">
    <%= image_tag "Friends_connect", class: "img_h150px"%>
  </div>
  <div class="m-1 text-left">
    <h3>We aim for deeper connections</h3>
    <p>By matching people based on their interests,
      <br>
    we feel the community has a deeper bound.</p>
  </div>
</div>

